<%- include('layouts/header.ejs') %>
<h2 class="mb-4">Hi ,<%= user.name %></h2>
<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <%
                if(users.length > 0 ){
                    for(let i=0;i<users.length;i++){
                        %>
                            <li class="list-group-item list-group-item-dark cursor-pointer user-list">
                                <img src="<%=users[i]['image'] %>" alt="" width="50px" height="50px">
                                <%= users[i]['name'] %> 
                                <% 
                                    if(users[i]['is_online'] == '1'){
                                        %>
                                        

                                    }

                                %>
                            </li>
                        <%
                    }
                }
            %>
        </ul>  
    </div>
    <div class="col-md-9">
        <h3 class="start-head">Click to start the chat </h3>
        <div class="chat-section">
            <div id="chat-container">
                
                

            </div>
            <form action="" id="chat-form">
                <input type="text" name="message" id="message" placeholder="enter message" class="border" required>
                <input type="submit" value="send message" class="btn btn-primary">
            </form>
          
        </div>
    </div>
    
</div>



<script>
    var sender_id = '<%= user._id %>';

    var socket = io('/user-namespace' , {
        auth :{
            token : '<%= user._id %>'
        }
    });

    $(document).ready(function(){
        $('.user-list').click(function(){
            $('.start-head').hide();
            $('.chat-section').show();

        })
    })
</script>
<%- include('layouts/footer.ejs') %>
