<%- include('layouts/header.ejs') %>
<h2 class="mb-4">Groups</h2>
<div class="container">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#createGroupModal"
  >
    Create Group
  </button>

  <% if(typeof message !== 'undefined'){ %>
  <p style="color: green"><%= message %></p>
  <% } %>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Image</th>
        <th>Name</th>
        <th>Limit</th>
        <th>Members</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if(groups.length > 0 ){ for(let i =0 ; i < groups.length ;i ++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td>
          <img
            src="/<%= groups[i]['image'] %>"
            alt="<%= groups[i]['name']  %>"
            width="100px"
            height="100px"
          />
        </td>
        <td><%= groups[i]['name'] %></td>
        <td><%= groups[i]['limit'] %></td>
        <td><a class="cursor-pointer addMember" data-limit="<%= groups[i]['limit'] %>" data-id="<%= groups[i]['_id'] %>" data-toggle="modal" data-target="#memberModal">Members</a></td>
        <td>
          <a href="" class="updateMember" data-obj="<%= JSON.stringify(groups[i])%>" data-toggle="modal" data-target="#updateGroupModal">
            <i class="fa fa-pencil"></i>
          </a>

          <a href="" class="deleteGroup" data-id="<%= groups[i]['_id']%>" data-name="<%= groups[i]['name']%>" data-toggle="modal" data-target="#deleteGroupModal">
            <i class="fa fa-trash"></i>
          </a>

          <a  class="copy  cursor-pointer" data-id="<%= groups[i]['_id']%>">
            <i class="fa fa-copy"></i>
          </a>
          
        </td>
      </tr>
      <% } } else { %>
      <tr>
        <td>No Groups Found !</td>
      </tr>
      <% } %>
    </tbody>
  </table>


   <!--Member  Modal -->
   <div
   class="modal fade"
   id="memberModal"
   tabindex="-1"
   role="dialog"
   aria-labelledby="exampleModalCenterTitle"
   aria-hidden="true"
 >
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
         <button
           type="button"
           class="close"
           data-dismiss="modal"
           aria-label="Close"
         >
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <form action="" id="add-member-form">
         <div class="modal-body">
            <input type="hidden" name="group_id" id="group_id">
            <input type="hidden" name="limit" id="limit">
            <table class="table">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody class="addMemberTable">
                  <tr>
                    <td colspan="2">
                      <div class="addMemberTable">
                        <table class="table addMembersInTable">
                            
                        </table>
                      </div>
                    </td>
                  </tr>
              </tbody>
              
            </table>
         </div>
         <div class="modal-footer">
          <p id="add-member-error"></p>
           <button
             type="button"
             class="btn btn-secondary"
             data-dismiss="modal"
           >
             Close
           </button>
           <button type="submit" class="btn btn-primary">Update Members</button>
         </div>
       </form>
     </div>
   </div>
 </div>
</div>




  <!-- Modal -->
  <div
    class="modal fade"
    id="createGroupModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create Group</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" enctype="multipart/form-data" method="POST">
          <div class="modal-body">
            <input
              type="text"
              name="name"
              placeholder="Enter Group Name"
              required
              class="w-100 mb-2"
            />
            <input type="file" name="image" required class="w-100 mb-2" />
            <input
              type="number"
              min="1"
              name="limit"
              placeholder="Enter User limit"
              required
              class="w-100 mb-2"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!--Update Modal -->
<div
class="modal fade"
id="updateGroupModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Update Group</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="" enctype="multipart/form-data" method="POST" id="updateChatGroupForm">
      <div class="modal-body">

        <input type="hidden" name="id" id="update_group_id">
        <input type="hidden" name="last_limit" id="last_limit">
        
        <input
          type="text"
          name="name"
          id="group_name"
          placeholder="Enter Group Name"
          required
          class="w-100 mb-2"
        />
        <input type="file" name="image" class="w-100 mb-2" />
        <input
          type="number"
          min="1"
          id="group_limit"
          name="limit"
          placeholder="Enter User limit"
          required
          class="w-100 mb-2"
        />
        <p><b>(Note)</b>If you enter the limit less than to previous limit will remove the all users from your group </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-warning">Update</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>





<!--Delete Modal -->
<div
class="modal fade"
id="deleteGroupModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Delete Group</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form method="POST" id="deleteChatGroupForm">
      <div class="modal-body">

        <input type="hidden" name="id" id="delete_group_id">
        <p>Are you sure you want to delete <b id="delete_group_name" style="color:red"></b> Group ?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>


<%- include('layouts/footer.ejs') %>
