<%- include('layouts/header.ejs') %>

<div class="container">
    <div>
        <img src="/<%= group.image %>" alt="" width="200px" height="200px">
        <p><b><%= group.name %></b></p>
        <p><b>Total Members : </b> <%= totalMembers %> </p>
        <%
            if(available != 0 ){
                %>
                    <p>Available for <b> <%= available %> </b> Members Only. </p>

                <%
            }
            if(isOwner){
                %>
                    <p>You are the creator of this group ,soYou can not join this group </p>
                <%
            }
            else if(isJoined){
                %>
                    <p>You are already joined this group  </p>
                <%
            
            } else if(available == 0 ){
                %>
                    <p>group already filled  </p>
                <%
            }
            else {
                %>
                    <button class="btn btn-primary join-now" data-id="<%= group._id %>"> Join now </button>
                <%
            }
        %>
        


    </div>
</div>


<%- include('layouts/footer.ejs') %>
